# HOW TO USE:
#
# 1 Add environment variables for the various stages here
# 2 Rename this file to env.yml
# 3 Make sure to not commit this file.

# Default Configuration
default:

  # Simple Email Service (SES)
  ses:

    # SES Rule Set Name
    # Rule Set where the SES Rule should be added. This allow the SES Rule to
    # be added to any existing Rule Set, including the Active Rule Set.
    ruleSetName: default-rule-set
